@charset "UTF-8";

/* 回答はここに書いてね */

.clearfix:after {
  display: block;
  content: "";
  clear: both;
} 
.q2{
  width: 900px;
  margin: 0 auto;
  background-color: #eff3f4;
  padding: 20px;
}
.q2__content__text{
  font-size: 18px;
  line-height: 22px;
  margin: 10px 10px;
  vertical-align: text-top;
}
.q2{
  float: left;
}
img{
  max-width: 100%;
  margin: 10px 20px;
}

/* 回答はここに書いてね */
